// table{
//     width:100wv
// }

table{
border: 3px solid grey;
border-collapse: collapse;
padding: 5px;
max-width:100wv;
// border-collapse: collapse;
}

th , td
{
text-align: center;
border: 1px solid grey;
padding: 5px;
// border-collapse: collapse;
} 

table tr:nth-child(odd) {
background-color: #f1f1f198;
}
table tr:nth-child(even) {
background-color: #ffffff;
}

.abc{
    padding-top:-10px;
}