<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" (click)="goBack()">
      <ion-button icon-only>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="center">history</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <tr no-lines style="border: 0;text-align-last: justify;">
    <th style="border: 0;text-align: center;font-size: larger;font-style: normal;font-weight: bolder;color: cornflowerblue;">Details of all Appointments</th>
    <td style="border: 0;text-align-last: auto;" slot="end">Today's Date : {{todaysDate}}</td>
  </tr>


  <!-- <ion-list *ngFor="let booking of (bookingsdb1|async)"> -->
    <table style="width:100%">
    <tr>
      <th>booking id</th>
      <th>slotId</th>
      <th style="padding :0 20px">slotTime</th>
      <th>booking date</th>
      <th>Slot date</th>
      <th>user name</th>
      <th>update Booking Status</th>
    </tr>
    <tr *ngFor="let booking of (bookingsdb1|async)">
      <td>{{booking.bookingId}}</td>
      <td>{{booking.slotId}}</td>
      <td style="color :red ;font-weight : bold">{{booking.slotTime}}</td>
      <td>{{booking.bookingDate.toDate().toLocaleDateString()}}</td>
      <td>{{booking.slotDate}}</td>
      <td style="color :blue ; font-weight : bold">{{booking.userFullName}}</td>

<!-- only one of the following will be displayed -->

      <!-- <td *ngIf="booking.status == 'unvisited' && todaysDate == booking.slotDate">
        <b class="abc" style="color:purple">{{booking.status}}</b>
      </td>

      <td *ngIf="booking.status == 'unvisited' && todaysDate != booking.slotDate ">
        <b class="abc" style="color:purple">{{booking.status}} or expired </b>
      </td> -->
      <td *ngIf="booking.status == 'unvisited'">
        <b class="abc" style="color:purple">{{booking.status}}</b>
      </td>

      <td *ngIf="booking.status == 'visited'">
        <b class="abc" style="color:green ; font-weight : bolder">{{booking.status}}</b>
      </td>

      <td *ngIf="booking.status == 'cancelled'">
        <span class="abc" style="color:red">{{booking.status}}</span>
      </td>

      <td *ngIf="booking.status == 'expired'">
        <span class="abc" style="color:rgb(230, 199, 25)">{{booking.status}}</span>
      </td>    
    </tr>
  </table>


  <ion-item-divider></ion-item-divider>
</ion-content>