<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-title>first Page</ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-split-pane >
  ...
  <div id="main-content">...</div>
</ion-split-pane> -->

<ion-split-pane contentId="main-content">
  <ion-menu>
    <ion-header>
      <ion-menu-toggle auto-hide="false">
        <ion-toolbar>
          <ion-title>
            <h1>hello</h1>
          </ion-title>
        </ion-toolbar>
      </ion-menu-toggle>
    </ion-header>



    <ion-content *ngFor="let doctor of (doctorsdb|async)">
      <ion-list>
            <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">

                  <ion-item routerLink="{{p.url}}{{doctor.id}}">
                    <ion-label>
                      {{ p.title }}
                    </ion-label>
                  </ion-item>

            </ion-menu-toggle>

      </ion-list>
    </ion-content>

  </ion-menu>

  <ion-router-outlet id="main-content" main></ion-router-outlet>
</ion-split-pane>



