// ion-avatar{
//     margin:10px;
//     height :65%;
//     width :20%;
// }
ion-item:hover{
    cursor: pointer;
}

.refresher-ios .refresher-pulling-icon, .refresher-ios .refresher-pulling-text, .refresher-ios .refresher-refreshing-icon, .refresher-ios .refresher-refreshing-text {
    color: var(--ion-text-color,#FFF);
}