<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-sub-header>hello</ion-sub-header> -->


   


    <ion-content>
      
    <!-- <ion-searchbar showCancelButton="focus" placeholder="search by a keyword"></ion-searchbar> -->
     
    <ion-list *ngFor="let doctor of (doctorsdb | async)">
        <ion-item >
          <ion-avatar slot="start">
            <img src="../assets/icon/avataricon3.png" alt="">
          </ion-avatar>
 
          <ion-label>
            <h1> {{doctor.name}}</h1>
            <h2> {{doctor.description}} </h2>
            <h2> {{doctor.docId}} </h2>
 
          </ion-label>
 
          <!-- <button ion-button clear slot="end" routerLink="{{doctor.id}}">View</button> -->
          <!-- "/sidemenu/sidehome/tabs/home" -->

          <button ion-button clear slot="end" routerLink="/sidemenu/sidehome/tabs/home/homeview/{{doctor.id}}">View</button>
        </ion-item>
       <!-- <ion-item-divider></ion-item-divider> -->
    </ion-list>

    </ion-content> 




    <!-- <ion-content>
      <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
      <ion-list>
        <ion-item *ngFor="let item of items">
          {{ item }}
        </ion-item>
      </ion-list>
    </ion-content> -->


    

    <!-- <ion-content>

      <ion-searchbar showCancelButton="focus" (ionInput)="getItems($event)"></ion-searchbar>
        <ion-list *ngFor="let item of items">
          <ion-item >
            <ion-avatar slot="start">
              <img src="../assets/icon/avataricon3.png" alt="">
            </ion-avatar>
            <ion-label>
              <h1> {{item.name}}</h1>
              <h2> {{item.department}} </h2>
            </ion-label>
            <button ion-button clear slot="end">View</button>
          </ion-item>
        //  <ion-item-divider></ion-item-divider>
        </ion-list>
  
      </ion-content> -->