<ion-content fullscreen padding scroll-y="false" >

      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <img src="../assets/png images/hms.jpeg" alt="" class="img1" style="backface-visibility: visible;width : 200%">
          <h1>Welcome to <br><b> Hospital Management Sytem </b></h1>
        </ion-slide>
        <ion-slide>
          <h1>Slide 2</h1>
        </ion-slide>
        <ion-slide>
          <h1>Slide 3</h1>
          <img src="../assets/png images/girl hms.jpeg" alt="" class="img2">
          <ion-button expand="block" fill="clear" shape="round" (click)="navigateTo()">start  <ion-icon slot="end" name="arrow-forward"></ion-icon>  </ion-button>
        </ion-slide>
      </ion-slides>

</ion-content>