<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goback()">
      <ion-button icon-only>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <!-- <ion-back-button defaultHref="/sidemenu/sidehome"></ion-back-button> -->
      <!-- <ion-back-button (click)="goBack()" ></ion-back-button> -->
    </ion-buttons>
    <ion-title >help</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
</ion-content>
