<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goback()">
      <ion-button icon-only>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- <ion-buttons slot="start" (click)="goback()">
      <ion-button icon-only>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons> -->


    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
