.cancel{
    #hidden-div{

    
    background-color:rgba(175, 185, 28, 0.699);
    color:black;
    text-align: center;
    // position: relative;
    // left:50%;
    margin:auto;
    padding : auto;
    border-radius: 13px;
    // transform: translate(-50,0);
}
}