<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goBack()">
      <ion-button icon-only>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>openSingleHistory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let booking of (bookingsdb|async)">
    <h1>Booking Id is : {{booking.bookingId}}</h1>
    <h1 *ngIf="booking.bookingDate" >booking date :{{booking.bookingDate.toDate().toLocaleDateString()}}</h1>
    <!-- <h1 *ngIf="booking.bookingDate" [innerHtml]="getDate(booking.bookingDate)"> </h1> -->
    <!-- <td *ngIf="booking.bookingDate" [innerHtml]="getDate(booking.bookingDate)"></td> -->
    <h1>Doctor Name is : {{booking.doctorName}}</h1>
    <h1>SlotId is : {{booking.slotId}}</h1>
    <h1>Slot Time is : {{booking.slotTime}}</h1>
    <h1>Slot Time is : {{booking.slotDate}}</h1>
    <h1>booking status : {{booking.status}}</h1>

    <ion-buttons class="cancel"><ion-button *ngIf="booking.status=='unvisited'" id="hidden-div" (click)="cancelBooking(booking)"><h4>cancel Appointment</h4></ion-button></ion-buttons>

  </div>
  <!-- <h1>Booking Id is : {{booking.bookingId}}</h1>
  <h1 *ngIf="booking.bookingDate" >booking date :{{booking.bookingDate.toDate().toLocaleDateString()}}</h1> -->
 
  <!-- <h1 *ngIf="booking.bookingDate" [innerHtml]="getDate(booking.bookingDate)"> </h1> -->
  <!-- <td *ngIf="booking.bookingDate" [innerHtml]="getDate(booking.bookingDate)"></td> -->
  
  
  <!-- <h1>Doctor Name is : {{booking.doctorName}}</h1>
  <h1>SlotId is : {{booking.slotId}}</h1>
  <h1>Slot Time is : {{booking.slotTime}}</h1>
  <h1>Slot Time is : {{booking.slotDate}}</h1>
  <h1>booking status : {{booking.status}}</h1>

  <ion-buttons class="cancel"><ion-button *ngIf="booking.status=='unvisited'" id="hidden-div" (click)="cancelBooking(booking)"><h4>cancel Appointment</h4></ion-button></ion-buttons> -->
</ion-content>
