<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="goBack()" slot="start">
      <ion-button icon-only>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>appointments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <tr no-lines style="border: 0;text-align-last: justify;">
    <th style="border: 0;text-align: center;font-size: larger;font-style: normal;font-weight: bolder;color: cornflowerblue;">Details of all Appointments</th>
    <td style="border: 0;text-align-last: auto;" slot="end">Today's Date : {{todaysDate}}</td>
  </tr>


  <!-- <ion-list *ngFor="let booking of (bookingsdb1|async)"> -->
    <table style="width:100%">
    <tr>
      <th>booking id</th>
      <th>slotId</th>
      <th style="padding :0 20px">slotTime</th>
      <th>booking date</th>
      <th>Slot date</th>
      <th>user name</th>
      <th>update Booking Status</th>
    </tr>
    <tr *ngFor="let booking of (bookingsdb1|async)">
      <td>{{booking.id}}</td>
      <td>{{booking.slotId}}</td>
      <td style="color :red ;font-weight : bold">{{booking.slotTime}}</td>
      <td>{{booking.bookingDate.toDate().toLocaleDateString()}}</td>
      <td>{{booking.slotDate}}</td>
      <td style="color :blue ; font-weight : bold">{{booking.userFullName}}</td>

<!-- only one of the following will be displayed -->

      <!-- <td *ngIf="booking.status == 'unvisited' && todaysDate == booking.slotDate">
        <ion-toggle (click)="updateBookingStatus(booking)"></ion-toggle>
        <b class="abc" style="color:purple">{{booking.status}}</b>
      </td>

      <td *ngIf="booking.status == 'unvisited' && todaysDate != booking.slotDate ">
        <b class="abc" style="color:purple">{{booking.status}}</b>
      </td>

      <td *ngIf="booking.status == 'visited'">
        
        <b class="abc" style="color:green">{{booking.status}}</b>
      </td>
      <td *ngIf="booking.status == 'cancelled'">
        <b class="abc" style="color:red">{{booking.status}}</b>
      </td>
      <td *ngIf="booking.status == 'expired'">
        <b class="abc" style="color:yellowgreen">{{booking.status}}</b>
      </td>     -->

      <td style="background-color: #ff7f5096;border-radius: 3px;" (click)=open(booking.id)>
       
        <div *ngIf="booking.status == 'unvisited' && todaysDate == booking.slotDate">
          <b class="abc" style="color:purple ;justify-content: space-around;"> <span> <div style="background-color: green;width:8px;height:8px;border-radius: 50%;"></div> </span> {{booking.status}}</b>
        </div>

        <div *ngIf="booking.status == 'unvisited' && todaysDate != booking.slotDate ">
          <b class="abc" style="color:purple">{{booking.status}}</b>
        </div>
  
        <div *ngIf="booking.status == 'visited'">
          <span class="abc" style="color:green ; font-weight : bolder;justify-content: space-around;"> <span *ngIf="todaysDate == booking.slotDate"> <div style="background-color: green;width:8px;height:8px;border-radius: 50%;"></div> </span> {{booking.status}}</span>
        </div>
  
        <div *ngIf="booking.status == 'cancelled'">
          <span class="abc" style="color:red ; font-weight : bolder;justify-content: space-around;"> <span *ngIf="todaysDate == booking.slotDate"> <div style="background-color: green;width:8px;height:8px;border-radius: 50%;"></div> </span> {{booking.status}}</span>
        </div>
  
        <div *ngIf="booking.status == 'expired'">
          <span class="abc" style="color:rgb(250, 214, 11); font-weight : bolder;justify-content: space-around;"> <span *ngIf="todaysDate == booking.slotDate"> <div style="background-color: green;width:8px;height:8px;border-radius: 50%;"></div> </span> {{booking.status}}</span>
        </div> 
      </td>

      <!-- <td style="background-color: coral ;" (click)=open(booking.id)>{{booking.status}}</td> -->
    </tr>
  </table>


        <!-- <ion-toggle color="danger" checked disabled></ion-toggle><b class="abc">{{booking.status}}</b> -->


  <ion-item-divider></ion-item-divider>

  <!-- <ion-button routerLink="cancel-single-appointment/{{id}}" (click)="openCancel()"> cancel appointment</ion-button>
  <ion-button (click)="open()"> open appointment</ion-button> -->

</ion-content>
