<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goback()" >
      <ion-button iocn-only>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>bookview</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="showCalendar()">show Available Dates</ion-button>


<div *ngIf="calDecider"> <!--enter only if role is "done" i.e. date is selected-->
  <ion-list *ngFor="let patient of (patientsdb | async)" lines="none"> <!--to pass patients details to store in bookings collection-->
      <div *ngFor="let slotss of doctor.timeSlots; index as i">
        <div *ngIf="i == day"> <!-- condition to show dates of only selected date or else continue to next iteration-->
              <h1>day{{i}}-{{days[day]}} --- </h1>
                <!-- <h1>{{i}} --- </h1> -->
              <div *ngFor="let slot of slotss.slots; index as j">
                <div *ngIf="!slot.slotDateArray.includes(this.dateObj.toLocaleDateString())"> 
                  <ion-button color="success" shape="round" expand="block"> <span cursor="pointer"  (click)="addBookingShow(patient,slot,j)">slot{{j}} - slotTime:{{slot.slotTime}} </span> </ion-button>slot available
                </div>

                <div *ngIf="slot.slotDateArray.includes(this.dateObj.toLocaleDateString())"> 
                  <ion-button color="medium" shape="round" expand="block"> <span cursor="pointer">slot{{j}} - slotTime:{{slot.slotTime}}</span> </ion-button>slot booked
                </div>
           
              </div>             
          </div>
        <!-- <ion-item-divider></ion-item-divider> -->
      </div> 
  </ion-list>
</div>








              <h1 text-align="center">Previous Bookings with dis doctor</h1>

            <ion-list  *ngFor="let booking of (bookingsdb|async)">
              <ion-item>
                <ion-label>
                  <h1> booking id is {{booking.id}}</h1>
                  <h1> booking slot id is {{booking.slotId}}</h1>
                  <h1> booking slot Time is {{booking.slotTime}}</h1>
                  <h2> {{booking.bookingId}} </h2>
                  <h2> {{booking.status}} </h2>
                  <h2 [innerHtml]="getDate(booking.bookingDate)"></h2>
                </ion-label>
              </ion-item>
            </ion-list>

  
 
<!-- 
 <ion-grid>
  <ion-label>morning shifts</ion-label>  <br>
   <ion-row>
    <ion-button><ion-col>1-2</ion-col></ion-button>
      <ion-button><ion-col>2-3</ion-col></ion-button>
        <ion-button><ion-col>3-4</ion-col></ion-button>

   </ion-row>
<br>
   <ion-label>evenging shifts</ion-label>  <br>
   <ion-row>
    <ion-button> <ion-col>4-5</ion-col></ion-button>
      <ion-button>  <ion-col>5-6</ion-col></ion-button>
        <ion-button> <ion-col>6-7</ion-col></ion-button>

  </ion-row>

  <br>
   <ion-label>ni8 shifts</ion-label>  <br>
   <ion-row>
    <ion-button>  <ion-col >8-9</ion-col></ion-button>
      <ion-button>  <ion-col>9-10</ion-col></ion-button>
        <ion-button>  <ion-col>10-11</ion-col></ion-button>

  </ion-row>
 </ion-grid>

  -->
</ion-content>
