<ion-header>
  <ion-toolbar>
    <ion-title>update-doctor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating" >Doctor name</ion-label>
      <ion-input placeholder="Enter doctor name" [(ngModel)]="doctor.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Doctor description</ion-label>
      <ion-textarea rows="2" [(ngModel)]="doctor.description" placeholder="Enter more information here..."></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Doctor department</ion-label>
      <ion-input placeholder="Enter Title" [(ngModel)]="doctor.department"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Doctor Specialization</ion-label>
      <ion-input placeholder="Enter Title" [(ngModel)]="doctor.specialization"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Doctor phn. No.:</ion-label>
      <ion-input placeholder="Enter Title" [(ngModel)]="doctor.phone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Consultation fee</ion-label>
      <ion-input placeholder="Enter Title" [(ngModel)]="doctor.consultationFee"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Timings</ion-label>
      <ion-input placeholder="Enter Title" [(ngModel)]="doctor.timings"></ion-input>
    </ion-item>
    
    <!-- <ion-item>
      <tr style="margin-top: 20px;color:chocolate;"><h6></h6><h6>start</h6><h6>end</h6><h6>period</h6></tr>
      <tr style="max-width: fit-content;" *ngFor="let item of doctor.timingIntervals;index as i">
        <ion-label><h1 style="padding-left: 10px;color:chocolate;">{{daysNames[i]}}</h1></ion-label>
        <ion-input placeholder ="startTime"  [(ngModel)]="doctor.startTimings[i]"></ion-input>
        <ion-input placeholder ="endTime" [(ngModel)]="doctor.endTimings[i]"></ion-input>
        <ion-input placeholder ="interval"  [(ngModel)]="doctor.timingIntervals[i]"></ion-input>mins
      </tr>
    </ion-item> -->

    <ion-item>
      <b><h1 position="fixed" >no. of days to Allow user to make Appointments from current date</h1></b>
      <ion-input type="number" placeholder="Enter no.days " [(ngModel)]="doctor.dateRange"></ion-input>
    </ion-item>
    <ion-item>
      <b><h1 position="staked" > Allow Doctor to take Appointments</h1></b>
      <ion-toggle [(ngModel)]="doctor.doctorExist" ></ion-toggle>
    </ion-item>

  </ion-list>

    <ion-button color="primary" routerDirection="back" [routerLink]="'/view-doctor/'+doctor.id" >back</ion-button>
    <ion-button color="primary"  (click)="updateDoctor()">Update</ion-button>
  </ion-content>
      