<!-- <ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>history</ion-title>
  </ion-toolbar>
</ion-header> -->

  <!-- <ion-buttons slot="start" >
    <ion-back-button defaultHref="/sidemenu/sidehome"></ion-back-button>
  </ion-buttons> -->
  
<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start" (click)="goback()">
      <ion-button icon-only>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>History</ion-title>
    <ion-buttons  slot="end">
      <ion-button  icon-only >
        <ion-icon name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>




<ion-content>

<table>
  <tr>
    <th>Booking : </th>
    <!-- <th>Booking Date: </th> -->
    <th>slot Date: </th>
    <th>Doctor Name :</th>
    <th>Status :  </th>
  </tr>
  <tr *ngFor="let booking of (bookingsdb|async)" (click)="openSingleHistory(booking.id,booking.doctorID)">
    <td>{{booking.id}}</td>  
    <!-- <td *ngIf="booking.bookingDate" [innerHtml]="getDate(booking.bookingDate)"></td> -->
    <td *ngIf="booking.slotDate"><b>{{booking.slotDate}}</b></td>
    <td style="color:blue">{{booking.doctorName}}</td>
    <!-- <td style="color:rgb(204, 99, 99)" *ngIf="booking.status === 'cancelled'">{{booking.status}}</td>  
    <td style="color:rgb(39, 245, 66)" *ngIf="booking.status != 'cancelled'">{{booking.status}}</td>   -->

    <!-- <ion-buttons> <ion-col>{{booking.patientname}}</ion-col></ion-buttons>
    <ion-buttons> <ion-col>{{booking.relationship}}</ion-col></ion-buttons> -->
    <td *ngIf="booking.status == 'unvisited'">
      <b class="abc" style="color:purple">{{booking.status}}</b>
    </td>

    <td *ngIf="booking.status == 'visited'">
      <b class="abc" style="color:green ; font-weight : bolder">{{booking.status}}</b>
    </td>

    <td *ngIf="booking.status == 'cancelled'">
      <span class="abc" style="color:red">{{booking.status}}</span>
    </td>

    <td *ngIf="booking.status == 'expired'">
      <span class="abc" style="color:rgb(230, 199, 25)">{{booking.status}}</span>
    </td> 

    </tr>
</table>

<!-- <ion-list  *ngFor="let booking of (bookingsdb|async)">
  <ion-item>
    <ion-label>
      <h1> {{booking.bid}}</h1>
      <h2> {{booking.bookingId}} </h2>
      <h2> {{booking.status}} </h2>

    </ion-label>
  </ion-item>
</ion-list> -->
<!-- <ion-button color="primary" expand="full" (click)="addBookingShow()" >Add this Booking</ion-button> -->


 
<!-- 
 <ion-grid>
  <ion-label>morning shifts</ion-label>  <br>
   <ion-row>
    <ion-button><ion-col>1-2</ion-col></ion-button>
      <ion-button><ion-col>2-3</ion-col></ion-button>
        <ion-button><ion-col>3-4</ion-col></ion-button>

   </ion-row>
<br>
   <ion-label>evenging shifts</ion-label>  <br>
   <ion-row>
    <ion-button> <ion-col>4-5</ion-col></ion-button>
      <ion-button>  <ion-col>5-6</ion-col></ion-button>
        <ion-button> <ion-col>6-7</ion-col></ion-button>

  </ion-row>

  <br>
   <ion-label>ni8 shifts</ion-label>  <br>
   <ion-row>
    <ion-button>  <ion-col >8-9</ion-col></ion-button>
      <ion-button>  <ion-col>9-10</ion-col></ion-button>
        <ion-button>  <ion-col>10-11</ion-col></ion-button>

  </ion-row>
 </ion-grid>

  -->
</ion-content>
