ion-icon{
    font-size: 200%;
}

table{
    border: 3px solid grey;
    border-collapse: collapse;
    padding: 5px;
    width:100%;
    // max-width:100wv;
    }

table tr , td,th {
    text-align :center;
    border : 3px solid grey;
    border-collapse : collapse;
    padding:5px;
}

table tr:nth-child(odd) {
    background-color: #f1f1f198;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}
    
th , td
{
text-align: center;
border: 3px solid grey;
padding: 5px;
// border-collapse: collapse;
} 
    
 
    