<ion-header>
  <ion-toolbar>

    <!-- <ion-buttons slot="start" (click)="goback()">
      <ion-button icon-only>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons> -->

    <ion-title>updateprofile</ion-title>
  </ion-toolbar>
</ion-header>
 

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating" >patient username</ion-label>
      <ion-input placeholder="Enter Title" [(ngModel)]="patient.userFullName"></ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-label position="floating" >Doctor description</ion-label>
      <ion-textarea rows="2" [(ngModel)]="doctor.description" placeholder="Enter more information here..."></ion-textarea>
    </ion-item> -->
    <!-- <ion-item>
      <ion-label position="floating" >Doctor department</ion-label>
      <ion-input placeholder="Enter Title" [(ngModel)]="doctor.department"></ion-input>
    </ion-item> -->
    <!-- <ion-item>
      <ion-label position="floating" >Doctor Specialization</ion-label>
      <ion-input placeholder="Enter Title" [(ngModel)]="doctor.specialization"></ion-input>
    </ion-item> -->
    <!-- <ion-item>
      <ion-label position="floating" >Doctor phn. No.:</ion-label>
      <ion-input placeholder="Enter Title" [(ngModel)]="doctor.phone"></ion-input>
    </ion-item> -->
    <!-- <ion-item>
      <ion-label position="floating" >Consultation fee</ion-label>
      <ion-input placeholder="Enter Title" [(ngModel)]="doctor.consultationFee"></ion-input>
    </ion-item> -->
    <!-- <ion-item>
      <ion-label position="floating" >Timings</ion-label>
      <ion-input placeholder="Enter Title" [(ngModel)]="doctor.timings"></ion-input>
    </ion-item> -->
  </ion-list>

    <ion-button color="primary" routerDirection="root" (click)="goback()">back</ion-button>
    <ion-button color="primary"  (click)="updatePatient()">Update</ion-button>
  </ion-content>
      